@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckboxSteps</title>    
</head>
<body>
    <div>
        CheckboxSteps
    </div>
    <br />
    <input type="checkbox" title="checkbox 1"/>
    <input type="checkbox" title="checkbox 2"/>
    <input type="checkbox" title="checkbox 3"/>
</body>
</html>
