@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DownloadSteps</title>
</head>
<body>
    <a href="~/Resources/Sample.zip">Download sample.zip</a>
</body>
</html>
