@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IFrameFast</title>
</head>
<body>
    <div>
        IFrameFast
    </div>    
</body>
</html>
