@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IFrameSlow1</title>
</head>
<body>
    <div>
        IFrameSlow1
    </div>    
    <a href="IFrameSlow2">Abrir IFrameSlow2</a>
</body>
</html>
