@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InfrastructureSteps</title>
</head>
<body>
    <input type="text" value='@DateTime.Now.ToString("HH:mm:ss")' />
</body>
</html>
