@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RadioButtonSteps</title>    
</head>
<body>
    <div>
        RadioButtonSteps
    </div>
    <br />
    <input type="radio"  id="radio1" name="test"/>
    <label for="radio1" class="radio">
        Radio 1
    </label>

    <input type="radio" id="radio2" name="test" />
    <label for="radio2" class="radio">
        Radio 2
    </label>
    <input type="radio" id="radio3" name="test"/>
    <label for="radio3" class="radio">
        Radio 3
    </label>

</body>
</html>
