@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WindowWithIframes</title>
</head>
<body>
    <div>
        WindowWithIframes
    </div>
    <iframe src="IFrameFast"></iframe>
    <iframe src="IFrameSlow1"></iframe>
</body>
</html>
